.privacy {
  background: linear-gradient(to bottom, #f4f0ed 0%, #e0dcd9 30%, #f4f0ed 100%);
  isolation: isolate;
}

.privacy::before {
  content: "";
  position: absolute;
  inset: 70px 0 0 0;
  z-index: -1;
  filter: blur(100px);
  background: linear-gradient(
    to right,
    rgba(100, 100, 100, 0.1),
    rgba(0, 0, 0, 0.1),
    rgb(100, 100, 100, 0.3)
  );
}

.privacy_1st_grid {
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.privacy_1st_img::before {
  z-index: 10;
  /* mix-blend-mode: hard-light; */
  inset: 0;
  height: 50%;
  bottom: 20%;
  content: "";
  background: rgb(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  position: absolute;
}

.privacy_1st_img::after {
  z-index: 10;
  mix-blend-mode: hard-light;
  inset: 0;
  top: 50%;
  height: 50%;
  content: "";
  background: rgb(0, 0, 0, 0.3);
  position: absolute;
}

.privacy_2nd_grid::before {
  z-index: 10;
  inset: 0;
  height: 50%;
  bottom: 20%;
  content: "";
  background: rgb(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
  position: absolute;
}

.privacy_2nd_grid::after {
  z-index: 10;
  /* mix-blend-mode: hard-light; */
  inset: 0;
  top: 50%;
  height: 50%;
  content: "";
  background: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(.5px);
  position: absolute;
}

.privacy_2nd::before {
  background: linear-gradient(110deg, rgb(0, 0, 255), rgb(153, 31, 255, 1));
  content: "";
  position: absolute;
  left: -90px;
  bottom: -20px;
  height: 100%;
  width: 100vw;
}

@media screen and (max-width: 920px) {
  .privacy {
    padding: 20px 20px;
  }

  .privacy_1st {
    padding: 90px 0;
  }

  .privacy_1st_grid {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }

  .privacy_2nd::before {
    left: -20px;
  }
}

@media screen and (max-width: 470px) {
  .privacy_1st_grid {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}
