.profile {
  position: relative;
  background-color: rgb(0, 0, 0);
  background-image: radial-gradient(
      circle at 50% 50%,
      transparent 10%,
      rgb(0, 0, 0, 0.9)
    ),
    url("public/multicolored-6.jpg");
  background-position: 100% 100%, center;
}

.profile_setup_picture {
  display: grid;
  grid-template-columns: 100px 1fr;
}

.profile_setup_iconlist {
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  overflow: overlay;
  padding: 20px;
  row-gap: 30px;
  column-gap: 15px;
  align-items: center;
  justify-content: center;
  max-height: 320px;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  box-shadow: inset 1px 1px 5px rgb(0, 0, 0, 0.5),
    inset -1px -1px 5px rgb(0, 0, 0, 0.5), 1px 1px 1px rgb(0, 0, 0, 0.5),
    -1px -1px 1px rgb(0, 0, 0, 0.5);
  border: 5px solid transparent;
  scrollbar-color: black blue;
  scrollbar-width: thin;
}

.profile_setup_iconlist::-webkit-scrollbar {
  width: 0.7rem;
}

.profile_setup_iconlist::-webkit-scrollbar-track {
  background: rgb(35, 35, 35);
  border-radius: 20px;
  margin: 30px 0;
  background-clip: content-box;
}

.profile_setup_iconlist::-webkit-scrollbar-thumb {
  background-color: rgb(200, 200, 200);
  border-radius: 20px;
  border: 3px solid rgb(35, 35, 35);
}
.profile_setup_iconlist::-webkit-scrollbar-thumb:hover {
  background-color: rgb(100, 100, 100);
  border-radius: 20px;
}

.profile_edit {
  background: linear-gradient(60deg, #f4f0ed 0%, #e0dcd9, #f4f0ed 100%);
}

@media screen and (max-width: 640px) {
  .profile {
    position: relative;
    background-color: rgb(0, 0, 0);
    background-image: radial-gradient(
        circle at 50% 50%,
        transparent 10%,
        rgb(0, 0, 0, 0.9)
      ),
      url("public/multicolored-6.jpg");
    background-position: 100% 100%, center;
  }
}

@media screen and (max-width: 448px) {
  .profile_setup_picture {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .profile_setup_chosen_icon {
    width: 80px;
    padding: 5px;
  }

  .profile_setup_iconlist {
    grid-template-columns: repeat(auto-fit, minmax(55px, 1fr));
  }
}
