#root,
main {
  height: 92%;
}

.start-container {
  height: 60vh;
  background-color: #e9d8cf;
  border-bottom: 1px solid rgba(0, 0, 0, 0.306);
  opacity: 1;
  position: relative;
  right: 0;
}

.start-ani {
  animation: container-ani 3s forwards;
}

@keyframes container-ani {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.signOut-ani {
  animation: signOut-ani 500ms forwards;
}

@keyframes signOut-ani {
  0% {
    opacity: 0;
  }
  50% {
    right: 150px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

.form-container {
  height: 30vh;
  opacity: 0;
}

.form-ani-signIn {
  animation: sign-in 1s forwards;
}

@keyframes sign-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.form-ani-signOut {
  animation: sign-out 1s forwards;
}

@keyframes sign-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.input-container {
  height: 100%;
}

#submitBtn {
  width: 100px;
}

#placeholder {
  height: 25% !important;
}

.message {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
}

.message-div {
  height: 100%;
}

.loading {
  background-color: rgba(0, 0, 0, 0) !important;
}

.todo-class {
  overflow-y: scroll;
}

.todo-text {
  max-width: 370px;
  width: 370px;
}

.bottom-container {
  height: 100%;
}

#todoContainer .todo-class .icon-class {
  width: 1.5em !important;
  height: 1.5em !important;
  padding: 0.25em 0em 0em 0.1em !important;
}

#todoContainer .todo-class .icon-class,
.delete-icon {
  padding-right: 0.1em !important;
}

.todo-container2 {
  width: 50%;
  opacity: 0;
  animation: todos-ani-in 1s forwards;
}

@keyframes todos-ani-in {
  100% {
    opacity: 1;
  }
}

.no-todos {
  animation: no-ani 1s forwards;
}

@keyframes no-ani {
  0% {
    right: 50px;
  }
  100% {
    right: 0;
  }
}

@media screen and (max-width: 992px) {
  .todo-text {
    max-width: 700px;
    width: 75%;
    font-size: 15px;
    overflow: scroll;
  }

  .todo-class {
    width: 100%;
  }

  .todo-container2 {
    width: 100%;
  }
}
