.header-container {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 10vh;
  align-items: center;
}

.header-container h1,
.name-heading {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

.divider-1 {
  background-color: #f2f2f2;
  height: 4vh;
}

#button {
  padding-left: 20px !important;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 700;
  width: 170px;
  background-color: white;
  border: 1px solid #dadada;
}

#button:hover {
  color: white;
  background-color: red;
}

#button p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.img-profile {
  max-width: 55px;
}

@media screen and (max-width: 992px) {
  .header-container {
    display: flex;
    flex-flow: column;
    height: 15vh;
    justify-content: space-around;
    align-items: center;
  }

  .signIn-div {
    width: 100%;
  }

  #buttonSignIn {
    margin-left: 35px;
  }
}
