body,
#root {
  min-height: 100vh;
}

.hero_button {
  font-family: "Jura", sans-serif;
  border-radius: 30px !important;
  background-color: #991fff;
  color: #fff;
  font-weight: 600 !important;
  font-size: 18px;
}

.menu_circle {
  width: 6px;
  height: 6px;
  background-color: black;
  border-radius: 50%;
}

.small_icon {
  position: relative;
  bottom: 5px;
}
