body,
#root {
  min-height: 100vh;
  isolation: isolate;
}

.paper {
  background: repeating-linear-gradient(
    #f1ede9,
    #f1ede9 31px,
    #94acd4 31px,
    #94acd4 32px
  );
  line-height: 34px;
  padding-top: 5px;
  min-height: 100px;
  outline: 0;
}

.hero_button {
  font-family: "Jura", sans-serif;
  border-radius: 30px !important;
  background-color: #991fff;
  color: #fff;
  font-weight: 600 !important;
}

.menu_circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.popout_z_index {
  z-index: 15;
}

.popout_button_z_index {
  z-index: 16;
}
