.dashboard nav {
  text-align: center;
}

.dashboard_header {
  height: 100px;
  background: linear-gradient(to right, #f4f0ed 0%, #e0dcd9, #f4f0ed 100%);
  padding: 0 100px;
}

@media screen and (max-width: 640px) {
  .dashboard .header_heading {
    font-size: 18px !important;
  }

  .dashboard nav > i {
    display: block;
  }

  .dashboard nav {
    display: flex;
    align-items: center;
  }

  .dashboard_nav {
    background: linear-gradient(120deg, #f4f0ed 0%, #e0dcd9, #f4f0ed 100%);
    box-shadow: 1px 1px 20px #787573;
    border-radius: 3px;
  }

  .dashboard_nav li {
    border-radius: 0;
    cursor: pointer;
    padding: 10px 0;
  }

  .dashboard_nav li button {
    font-size: 22px !important;
    font-family: "Orbitron", sans-serif !important;
    letter-spacing: 3px;
    font-weight: 300 !important;
    padding: 0 10px !important;
  }

  .dashboard_menu_button {
    display: flex;
    cursor: pointer;
  }
}
