.header {
  max-width: 100%;
  height: 12vh;
  padding: 0 100px;
}

.header_heading {
  font-size: 20px;
  font-weight: 700;
  font-family: "Jura", sans-serif;
  cursor: pointer;
  user-select: none;
}

.header_logo {
  margin: 0 auto 0 0;
}

.landing {
  height: 100vh;
  background: linear-gradient(to right, #f4f0ed 0%, #e0dcd9 50%, #f4f0ed 100%);
}

.hero {
  height: 70vh;
  z-index: 1;
  display: grid;
  padding: 0 100px;
  grid-template-columns: auto max-content;
}

.hero_left {
  max-width: 500px;
  z-index: 1;
}

.hero_right,
.hero_right h3 {
  z-index: 1;
  font-weight: 300;
  font-family: "Jura", sans-serif !important;
}

.hero_right div {
  cursor: pointer;
}

.hero_right span {
  position: relative;
  left: 12px;
}

.hero_content {
  font-family: "Jura", sans-serif;
  max-width: 380px;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background: radial-gradient(
    circle at 10% 50%,
    rgba(0, 0, 0, 0.4),
    transparent
  );
  padding: 20px;
  border-radius: 30px;
}

.hero_content h2 {
  font-family: "Orbitron", sans-serif !important;
  font-weight: 400;
  text-shadow: -10px -1px 30px rgba(0, 0, 0);
  color: #e0dcd9;
  width: 100%;
  font-size: 46px;
}

.hero_content div {
  max-width: 250px;
  width: 100%;
}

.hero_center {
  position: absolute !important;
  width: 70%;
  height: 70%;
  left: 65px;
  right: 0;
  top: 0;
  bottom: 60px;
  margin: auto;
  z-index: 0;
  background-size: cover !important;
  opacity: 0.8;
}

.hero_center_image_div {
  position: relative;
  left: 30px;
}

.hero_center_image_div,
.hero_center_backdrop_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_center_backdrop_container {
  position: absolute !important;
  width: 70%;
  height: 75%;
  left: 100px;
  right: 0;
  top: 0;
  bottom: -15px;
  margin: auto;
  z-index: -1;
}

.hero_center_backdrop_1,
.hero_center_backdrop_2 {
  width: 200px;
  height: 400px;
  position: relative;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 5px black;
}

.hero_center_backdrop_1 {
  right: 90px;
  background: radial-gradient(circle at 10% 20%, #991fff 30%, black);
}

.hero_center_backdrop_2 {
  bottom: 10px;
  right: -90px;
  background: radial-gradient(circle at -10% 90%, #991fff 50%, black);
}

footer {
  padding: 0 100px;
  height: 18vh;
}

.footer_links {
  font-size: 16px;
  font-weight: 700;
  font-family: "Jura", sans-serif;
  cursor: pointer;
}
